html { font-family: 'PT Sans', Georgia, serif; }

.message-container {
	margin: 0 auto;
	
	display: flex;
	flex-flow: column wrap;
}

.message-container > .bubble {
	border-radius: 1em;
	padding: 0.25em 0.75em;
	margin: 0.0625em;
	max-width: 50%;
}

.message-container > .bubble.sender {
	align-self: flex-start;
	background-color: #efefef;
}
.message-container > .bubble.recipient {
	align-self: flex-end;
	background-color: cornflowerblue;
	color: #fff;
}

.message-container > .bubble.sender.first { border-bottom-left-radius: 0.1em; }
.message-container > .bubble.sender.last { border-top-left-radius: 0.1em; }
.message-container > .bubble.sender.middle {
	border-bottom-left-radius: 0.1em;
 	border-top-left-radius: 0.1em;
}

.message-container > .bubble.recipient.first { border-bottom-right-radius: 0.1em; }
.message-container > .bubble.recipient.last { border-top-right-radius: 0.1em; }
.message-container > .bubble.recipient.middle {
	border-bottom-right-radius: 0.1em;
	border-top-right-radius: 0.1em;
}